<div class="desc" id="connectrequeststatus">
    {{#if conn.notConnected}}
        <a class="finishItem" data-id="{{checkuser._id}}" data-user="{{user._id}}">Connect</a> 
    {{/if}}
    {{#if conn.connected }}
        <em>You are connected</em>
    {{/if}}
    {{#if conn.requestSent }}
        <em>Connection Request Sent</em>
    {{/if}}
    {{#if conn.requestReceieved }}
        <em>Connection Request Received</em><br />
        <a class="acceptItem" data-id="{{checkuser._id}}" data-user="{{user._id}}">Accept Connection</a><br />
        <a class="rejectItem" data-id="{{checkuser._id}}" data-user="{{user._id}}">Reject Connection</a>  
    {{/if}}
        {{#if conn.rejected }}
        <em>Connection Request Rejected</em>
    {{/if}}
</div>